h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    font-weight: normal;
    font-variant: small-caps;
    font-style: oblique;
}

p {
    font: italic normal bold 16px/18px "Times New Roman"
}