.satu {
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    margin-bottom: 30px;
}

.dua {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    margin-top: -50px;
    margin-left: 70px;
}

.tiga {
    height: 50px;
    width: 50px;
    background-color: pink;
}