h1 {
    color: #20b2aa;
    font-size: 100px;
}
p {
    text-indent: 30px;
    text-decoration: underline;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 5px;
}